<div class="card" *ngIf="value">
    <div class="card-body">
        <div class="row">
            <div class="col-auto ">
                <h4 class="badge badge-primary">
                    {{value.name}}
                </h4>

            </div>

        </div>
        <div class="row">
            <div class="col-auto mr-auto">
                <strong>
                    {{value.capital ? value.capital + ' ,' : ''}}
                </strong>
                {{value.subregion}}
            </div>
            <div class="col-auto">
                <span>
                    <mat-icon>person_outline</mat-icon> {{value.population | number}}
                </span>
            </div>
        </div>
    </div>
</div>