<div class="container">
  <div class="row  mt-5">
    <div class="col-8">
      <mat-form-field>
        <mat-label>Search {{searchBy.display}}</mat-label>
        <input matInput placeholder="Search Country" [(ngModel)]="searchFilter">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field>
        <mat-select [(ngModel)]="searchBy" [compareWith]="compare">
          <mat-option *ngFor="let selectData of selectData" [value]="selectData">
            {{selectData.display}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="row p-1" *ngFor="let country of filterSearch(searchFilter, searchBy.value)">
    <div class="col-12">
      <app-card-box [value]="country"></app-card-box>
    </div>
  </div>
  <app-data-not-found [condition]="filterSearch(searchFilter,searchBy.value).length === 0"></app-data-not-found>
</div>